@font-face {
    font-family: 'Poppins-regular';
    src: url("../Assets/Font/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Poppins-bold';
    src: url("../Assets/Font/Poppins-SemiBold.ttf");
}


:root {
    --Regular-font: 'Poppins-regular', verdana, Geneva, Tahoma, sans-serif;
    --Bold-font: 'Poppins-bold', verdana, Geneva, Tahoma, sans-serif;
}

p, h1, h2, h3{
    font-family: var(--Bold-font);
}

a{
    text-decoration: none;
    color: inherit;
}