.webdesignContent {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 27vh;

    .webdesignImage {
        width: 75%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .firstWebdesign, .secondWebdesign {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;

            .resizeImage{
                height: auto;
            }

        }

        .webdesignResponsive {
            display: none;
        }
    }
}

@media (max-width: 950px) {
    .webdesignContent {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 15vh;
    
        .webdesignImage {
            width: 75%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .firstWebdesign {
                display: none;
            }
    
            .secondWebdesign {
                display: none;
            }
    
            .webdesignResponsive {
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    margin: 10px;
                }
            }
        }
    }
}