.Home {
    width: 100%;
    height: auto;

    .backgroundImage {
        width: 100vw;
        height: 65vh;
        background-image: url('/Assets/Img/photo_home.svg');
        background-repeat: no-repeat;
        padding-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .titleContentHome{
            color: var(--White-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            margin-bottom: 5%;
            // background-color: red;

            .titleHome{
                width: 100%;
                height: auto;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                margin: 0 auto;

                p{
                    font-size: 36px;
                }
            }

            .descriptionContentHome{
                width: 100%;
                height: auto;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin: 0 auto;

                h2{
                    font-family: var(--Light-font);
                    font-size: 12px;
                }
            }
        }

        .ButtonContentHome{
            color: var(--White-color);
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            height: 25%;
        }

    }
}