.LogoImageContent {
    width: 100%;
    height: auto;
    margin-top: 35vh;
    display: flex;
    justify-content: center;

    .imageContent{
        width: auto;
        height: auto;
        display: flex;

        .logoContent1, .logoContent2, .logoContent3{
            flex: 1;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            
        }
    }

    .imageContentResponsive{
        display: none;
    }
}


@media (max-width: 950px){

    .LogoImageContent{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 20vh;

        .imageContent{
            display: none;
        }

        .imageContentResponsive{
            width: 75%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            img{
                margin: 10px;
            }
        }
    }
}