.banniereCreation{
    width: 100%;
    height: auto;

    img{
        width: 100%;
        height: auto;  
    }
}

.otherCreation{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column; 

    .titleOtherCreation{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 100px;

        h2{
            font-size: 36px;
        }
    }

    .iconsOtherCreation{
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }
}